/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light-mode: #fafafa;
  --text-light-mode: #111517;
  --elements-light-mode: #ffffff;
  --input-light-mode: hsl(0, 0%, 52%);
}

.dark {
  --background-dark-mode: #202c37;
  --text-dark-mode: #ffffff;
  --elements-dark-mode: #2b3945;
  --input-dark-mode: hsl(0, 0%, 85%);
}

/* Aplicar no body */
body {  
  
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
